@import "tailwindcss";
@tailwind utilities;

    /* Make sure the app takes up the full height */
body{
  background-color: #f3f4f6;
  color: #1e293b;
}

::-webkit-controller{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background: #cbd5e1;
  border-radius: 4px;
}

