@import "tailwindcss";
@tailwind utilities;

    /* Make sure the app takes up the full height */
body{
  background-color: #f3f4f6;
  color: #0e0f10;
}

::-webkit-controller{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background: #cbd5e1;
  border-radius: 4px;
}

@layer utilities {
  /* Hides scrollbar but keeps functionality */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer base {
  body {
    background-color: #070708; /* Main Dark Background */
    color: #94a3b8;            /* Default Slate Text */
  }
}